
/* FOR DESKTOP DESIGN */
:root {
	--seekBarColor: blue;
}
video {
	width: 100%;
}
[video-data-controls=true] {
	width: 600px;
	background: black;
}
.controls-container {
	padding: 10px;
	position: relative;
	width: auto;
	z-index: 10;
	margin-top: -69px;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(199,199,199, 0));
	color: #fff;
}
.timeStamp {
	position: absolute;
	bottom: 16px;
   	left: 85px;
	font-size: 13px;
	width: 100px;
}
#FullscreenVid {
	position: absolute;
	bottom: 13px;
	right: 10px;
	z-index: 10;
}
#toggleMute {
	position: absolute;
	bottom: 13px;
	left: 45px;
	z-index: 10;
	transform: scale(0.8);
}
progress::-webkit-progress-value {
	background: var(--seekBarColor);
}
progress::-webkit-progress-bar {
	background: rgba(199, 199, 199, 0.8);
}
progress {
	width: 100%;
	background: #333;
	height: 3px;
    border: none;
}
#range {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background: none;
	outline: none;
	position: relative;
	top: -13px;
	cursor: pointer;
}
#range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 11px;
	height: 11px;
	margin-left: -2px;
	border-radius: 50%;
	background: var(--seekBarColor);
	cursor: pointer;
	box-shadow: 0 1px 1px #555;
}
#range::-moz-range-thumb {
 	width: 11px;
	height: 11px;
  	background: var(--seekBarColor);
 	cursor: pointer;
}

/* DESIGN FOR PORTRAIT MOBILE */
@media screen and (max-width: 640px) {
	body {
		margin: 0px;
		padding: 0px;
	}
	video {
		width: 100%;
	}
	[video-data-controls=true] {
		width: auto !important;
		background: none;
	}
	.controls-container {
		padding: 10px;
		position: relative;
		width: auto;
		height: 42px;
		z-index: 10;
		margin-top: -66px;
		background: linear-gradient(to top, rgba(0,0,0,1), rgba(199,199,199, 0));
		color: #fff;
		font-size: 14px;
	}
	.timeStamp {
		position: relative;
		top: -24px;
    	left: 75px;
		font-size: 13px;
		width: 100px;
	}
	#FullscreenVid {
		position: absolute;
		bottom: 8px;
		right: 10px;
		z-index: 10;
	}
	#toggleMute {
		position: absolute;
		bottom: 8px;
		left: 45px;
		z-index: 10;
		transform: scale(0.8);
	}
	progress::-webkit-progress-value {
		background: var(--seekBarColor);			
	}
	progress::-webkit-progress-bar {
		background: rgba(199, 199, 199, 0.8);
	}
	progress {
		width: 100%;
		height: 3px;
		background: #333;
    	border: none;
    	position: relative;
    	top: 7.5px;
	}
	#range {
		-webkit-appearance: none;
		width: 100%;
		height: 15px;
		background: none;
		outline: none;
		position: relative;
		top: -4.5px;
		cursor: pointer;
	}
	#range::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 11px;
		height: 11px;
		margin-left: -2px;
		border-radius: 50%;
		background: var(--seekBarColor);
		cursor: pointer;
		box-shadow: 0 1px 1px #333;
	}
	#range::-moz-range-thumb {
	 	width: 11px;
		height: 11px;
		background: var(--seekBarColor);
		cursor: pointer;
	}
}